<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627655156570-rnfugcvpedor10s1i1t86is4pr4qqbk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627655156570-rnfugcvpedor10s1i1t86is4pr4qqbk4</string>
	<key>API_KEY</key>
	<string>AIzaSyAoUWbY2lgU7thwpZPxcC0b_EuiL1m8W1s</string>
	<key>GCM_SENDER_ID</key>
	<string>627655156570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterdominicana.firestore.flutterfirestore</string>
	<key>PROJECT_ID</key>
	<string>flutterdemo-ee4ba</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemo-ee4ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627655156570:ios:5a7f8fc05481e757ef4963</string>
	<key>DATABASE_URL</key>
	<string>https://flutterdemo-ee4ba.firebaseio.com</string>
</dict>
</plist>