<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249251083126-nhi1fv1u2rkrgdaqmnsru5m0il7cl7cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249251083126-nhi1fv1u2rkrgdaqmnsru5m0il7cl7cp</string>
	<key>API_KEY</key>
	<string>AIzaSyBxACqaNhRb9LEiGsuZ3QVcPCGvKjPbl7k</string>
	<key>GCM_SENDER_ID</key>
	<string>249251083126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterdominicana.firebase.example.flutterfirestore</string>
	<key>PROJECT_ID</key>
	<string>flutterdemo-3e2e1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemo-3e2e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249251083126:ios:33a573eeb70aed7cb74057</string>
	<key>DATABASE_URL</key>
	<string>https://flutterdemo-3e2e1.firebaseio.com</string>
</dict>
</plist>